@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! This is is a DEMO app</h1>
<h3>This is a simple example of an Blazor Web Assembly App with Minimal API in .NET 6</h3>

<div class="carousel-control-next">
    <section>
    <p>This app is still under development </p> 
    </section>
</div>


<div class="container-fluid"> 
        <p>
            Minimal APIs are architected to create HTTP APIs with minimal dependencies. 
            They are ideal for microservices and apps that want to include only the minimum files, features, 
            and dependencies in ASP.NET Core
        </p>
</div>




<footer>
    <div class="container-fluid">
   
    </div>
</footer>

